
.content-container {
    width: 100%;
    margin-top: 48px;
}



@media screen and (min-width: 769px) {
    .content-container {
        width: 50%;
        margin-top: 1rem;
    }

    .about-container {
        padding-left: 20px;
    }
}